body {
	padding: 0;
	margin: 0;
	/* position: relative; */
	width: 100vw;
	height: 100vh;

	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.44) 0%,
		rgba(255, 202, 220, 0.44) 100%
	);

	font-family: 'Dongle';

	/* margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
}
