.Container {
	min-height: 55vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.TextBox {
	position: relative;
	width: 400px;
	height: 250px;

	background: #ffffff;
	box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 57px;
}

.Result {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 35px;
	color: #494949;
}

.ResetButton {
	position: absolute;
	bottom: 8%;
	right: 5%;
	border: none;
	background-color: transparent;
	width: 100px;
	height: 24px;
	cursor: pointer;
}

.ResetAtag {
	text-decoration: none;
}

.Reset {
	margin-top: -5px;
	font-size: 20px;
	color: #616060;
	font-family: 'Dongle';
}
