.Container {
	min-height: 15vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-top: 30px;
}

.ShareBox {
	position: relative;
	width: 300px;
	height: 70px;
	text-align: center;

	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
	background: rgba(255, 255, 255, 0.6);
	border-radius: 30px;
}

.Logo {
	width: 35px;
	height: 35px;
}

#kakao-link-btn {
	position: absolute;
	float: left;
	top: 50%;
	left: 25%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.TwitterShareIcon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.urlBtn {
	position: absolute;
	top: 50%;
	left: 75%;
	transform: translate(-50%, -50%);
	cursor: pointer;

	font-size: 5px;
	font-weight: bold;
	color: white;
	background-color: #494949;
	border: none;
	height: 35px;
	width: 35px;
	border-radius: 8px;
}

@media (max-width: 500px) {
	.Container {
		min-height: 15vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		margin-top: 15px;
	}

	.ShareBox {
		position: relative;
		width: 230px;
		height: 60px;
		text-align: center;

		box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
		background: rgba(255, 255, 255, 0.6);
		border-radius: 30px;
	}

	.Logo {
		width: 35px;
		height: 35px;
	}

	#kakao-link-btn {
		position: absolute;
		float: left;
		top: 50%;
		left: 25%;
		transform: translate(-50%, -50%);
		background-color: transparent;
		border: none;
		cursor: pointer;
	}

	.TwitterShareIcon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.urlBtn {
		position: absolute;
		top: 50%;
		left: 75%;
		transform: translate(-50%, -50%);
		cursor: pointer;

		font-size: 5px;
		font-weight: bold;
		color: white;
		background-color: #494949;
		border: none;
		height: 35px;
		width: 35px;
		border-radius: 8px;
	}
}
